@model IEnumerable<CRMApp.Models.Role>

@{
    ViewData["Title"] = "مدیریت نقش‌ها";
}

<h2>مدیریت نقش‌ها</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>نام نقش</th>
            <th>نام کاربران</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    @if (role.UserRoles != null && role.UserRoles.Any())
                    {
                        <ul>
                            @foreach (var userRole in role.UserRoles)
                            {
                                <li>@userRole.User.Username</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>هیچ کاربری در این نقش نیست</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
