@model CRMApp.ViewModels.CustomerIndividualViewModel

<h2>ثبت مشتری حقیقی</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>اطلاعات فردی</legend>

        <div>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" required />
        </div>

        <div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" required />
        </div>

        <div>
            <label asp-for="FatherName"></label>
            <input asp-for="FatherName" />
        </div>

        <div>
            <label asp-for="BirthDate"></label>
            <input asp-for="BirthDate" type="date" />
        </div>

        <div>
            <label asp-for="NationalCode"></label>
            <input asp-for="NationalCode" />
        </div>

        <div>
            <label asp-for="IdentityNumber"></label>
            <input asp-for="IdentityNumber" />
        </div>

        <div>
            <label asp-for="Gender"></label>
            <select asp-for="Gender" asp-items="Model.GenderList">
                <option value="">-- انتخاب کنید --</option>
            </select>
        </div>

        <div>
            <label asp-for="MaritalStatus"></label>
            <select asp-for="MaritalStatus" asp-items="Model.MaritalStatusList">
                <option value="">-- انتخاب کنید --</option>
            </select>
        </div>
    </fieldset>

    <fieldset>
        <legend>ایمیل‌ها</legend>
        <table>
            <thead>
                <tr>
                    <th>آدرس ایمیل</th>
                    <th>نوع ایمیل</th>
                    <th>ایمیل اصلی</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Emails.Count; i++)
                {
                    <tr>
                        <td><input asp-for="Emails[@i].EmailAddress" /></td>
                        <td><input asp-for="Emails[@i].EmailType" /></td>
                        <td><input asp-for="Emails[@i].IsPrimary" type="checkbox" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>

    <fieldset>
        <legend>شماره‌های تماس</legend>
        <table>
            <thead>
                <tr>
                    <th>شماره تلفن</th>
                    <th>نوع تلفن</th>
                    <th>شماره داخلی</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ContactPhones.Count; i++)
                {
                    <tr>
                        <td><input asp-for="ContactPhones[@i].PhoneNumber" /></td>
                        <td><input asp-for="ContactPhones[@i].PhoneType" /></td>
                        <td><input asp-for="ContactPhones[@i].Extension" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>

    <fieldset>
        <legend>آدرس‌ها</legend>
        <table>
            <thead>
                <tr>
                    <th>آدرس کامل</th>
                    <th>شهر</th>
                    <th>استان</th>
                    <th>کد پستی</th>
                    <th>نوع آدرس</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Addresses.Count; i++)
                {
                    <tr>
                        <td><input asp-for="Addresses[@i].FullAddress" /></td>
                        <td><input asp-for="Addresses[@i].City" /></td>
                        <td><input asp-for="Addresses[@i].Province" /></td>
                        <td><input asp-for="Addresses[@i].PostalCode" /></td>
                        <td><input asp-for="Addresses[@i].AddressType" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>

    <button type="submit">ثبت مشتری</button>
    <a asp-action="Index">بازگشت</a>
</form>
